#logo{

  
  height:auto;
  width:785px;
  margin-right:38px;
  padding:35px;
  margin-top:37px;
  margin-left:18px;

  }



#header-img{

  position:relative;
  float:left;

}

#header > h1{

  display: flex;
  margin:auto;
  margin-top:18px;
  padding:18px;
  text-align: center;
  justify-content:center;
  font-weight:600;
  font-size: 4.5rem;
  font-family: "Times New Roman", Times, serif;
  color: #FFF;
  
}


h3{

  color:#FFF;
  padding:12px;
  margin:auto;
  margin-top:07px;
  align-items:center;
  text-align:center;
  font-weight:500;
  font-size: 2.5rem;
  
}



 p{ 

   color:#FFF;
   width: 100%;
   display:block;
   text-align: justify;
   margin:auto;
   padding: auto;
   position:relative;
   font-size:1.45rem;
   font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif ;

  }

  @media screen 
  {
  	p{
  		padding-right:3.0rem;
  		padding-left: 3.0rem;
  	}
  }

body{
	overflow-x: hidden;  
	background: url("https://github.com/Himanshi2016/Official-Website/blob/master/asset/Five.jpg");
}


